
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<%= link_to "Sign up as Artisan", new_artisan_registration_path %>
<ul>
<h1>Artist Products</h1>
  <% @products.each do |product| %>
    <li>
    <%= image_tag product.photo.variant(resize_to_limit: [300, 300]) if product.photo.attached? %>
      <%= product.title %> - $<%= product.price %>
    </li>
  <% end %>
</ul>
